/* Poistetaan yleiset marginaalit ja täytöt */
html,
body {
    margin: 0;
    padding: 0;
}

/* Tyyli header-elementille */
.header {
    background-color: #5B8E7D;
    text-align: center;
    padding: 20px;
}

/* Linkkien tyyli headerissa */
.header a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
}

.header a:hover {
    color: #F4E285;
}

/* Tyyli header2-elementille */
.header2 {
    background-color: #F4A259;
    text-align: center;
    padding: 5px 150px;
}

/* Tyyli content-elementille */
.content {
    margin: 0 auto;
    padding: 20px;
    font-size: 17px;
    background-color: #F4E285;
    text-align: center;
    overflow: hidden;
}

/* Kuvalle tyyli */
.content img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Footerin tyyli */
.footer {
    background-color: #5B8E7D;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.footer p {
    margin: 0;
    color: white;
}

/* Media queryt */
@media only screen and (max-width: 650px) {
    .header a {
        padding: 12px 14px;
    }

    .header2 {
        padding: 5px 50px;
    }

    .content {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1025px) {
    .header a {
        padding: 12px 14px;
    }

    .header2 {
        padding: 5px 100px;
    }

    .content img {
        max-width: 50%;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1025px) {
    .header a {
        padding: 12px 20px;
    }

    .header2 {
        padding: 5px 200px;
    }

    .content img {
        max-width: 40%;
        margin-right: 20px;
    }
}
